[submodule "pages/source/docs/orm/2.1"]
	path = pages/source/docs/orm/2.1
	url = git://github.com/doctrine/orm-documentation.git
[submodule "pages/source/docs/orm/2.0"]
	path = pages/source/docs/orm/2.0
	url = git://github.com/doctrine/orm-documentation.git
[submodule "pages/source/docs/dbal/2.1"]
	path = pages/source/docs/dbal/2.1
	url = git://github.com/doctrine/dbal-documentation.git
[submodule "pages/source/docs/dbal/2.0"]
	path = pages/source/docs/dbal/2.0
	url = git://github.com/doctrine/dbal-documentation.git
[submodule "pages/source/docs/common/2.1"]
	path = pages/source/docs/common/2.1
	url = git://github.com/doctrine/common-documentation.git
[submodule "pages/source/docs/common/2.0"]
	path = pages/source/docs/common/2.0
	url = git://github.com/doctrine/common-documentation.git
[submodule "pages/source/docs/mongodb-odm/1.0"]
	path = pages/source/docs/mongodb-odm/1.0
	url = git://github.com/doctrine/mongodb-odm-documentation.git
[submodule "pages/source/docs/couchdb-odm/1.0"]
	path = pages/source/docs/couchdb-odm/1.0
	url = git://github.com/doctrine/couchdb-documentation.git
[submodule "pages/source/docs/migrations/1.0"]
	path = pages/source/docs/migrations/1.0
	url = git://github.com/doctrine/migrations-documentation.git
