redirect 301 /blog/0-10-2-released.html /2008/03/01/0-10-2-released.rst
redirect 301 /blog/0-10-3-released.html /2008/03/18/0-10-3-released.rst
redirect 301 /blog/0-10-4-released-46-closed-tickets.html /2008/03/28/0-10-4-released-46-closed-tickets.rst
redirect 301 /blog/0-11-0-rc3-released.html /2008/05/31/0-11-0-rc3-released.rst
redirect 301 /blog/0-11-0-release-candidate-1.html /2008/04/21/0-11-0-release-candidate-1.rst
redirect 301 /blog/0-11-0-release-candidate-2.html /2008/04/30/0-11-0-release-candidate-2.rst
redirect 301 /blog/0-11-0-stable-released.html /2008/06/24/0-11-0-stable-released.rst
redirect 301 /blog/1000th-ticket-closed.html /2008/06/29/1000th-ticket-closed.rst
redirect 301 /blog/2nd-1-1-beta-released.html /2009/01/06/2nd-1-1-beta-released.rst
redirect 301 /blog/4-000th-svn-commit-revision.html /2008/03/16/4-000th-svn-commit-revision.rst
redirect 301 /blog/a-doctrine-orm-odm-base-class.html /2011/11/21/a-doctrine-orm-odm-base-class.rst
redirect 301 /blog/a-doctrine-triple-play.html /2009/11/03/a-doctrine-triple-play.rst
redirect 301 /blog/a-few-updates-for-2008.html /2008/01/25/a-few-updates-for-2008.rst
redirect 301 /blog/a-few-website-changes.html /2010/05/12/a-few-website-changes.rst
redirect 301 /blog/beta-2.html /2007/11/02/beta-2.rst
redirect 301 /blog/beta2_released.html /2007/12/03/beta2_released.rst
redirect 301 /blog/birthday-release-party.html /2010/09/01/birthday-release-party.rst
redirect 301 /blog/bringing-it-all-together.html /2010/05/27/bringing-it-all-together.rst
redirect 301 /blog/cleaning_up_the_mess.html /2008/01/16/cleaning_up_the_mess.rst
redirect 301 /blog/common-rc2-dbal-rc2-release.html /2010/11/18/common-rc2-dbal-rc2-release.rst
redirect 301 /blog/cookbook-recipe-relation-dql-behavior.html /2009/01/28/cookbook-recipe-relation-dql-behavior.rst
redirect 301 /blog/creating-a-unit-of-work-using-doctrine.html /2008/08/08/creating-a-unit-of-work-using-doctrine.rst
redirect 301 /blog/cross-database-joins.html /2009/06/19/cross-database-joins.rst
redirect 301 /blog/database-support-doctrine2.html /2010/02/11/database-support-doctrine2.rst
redirect 301 /blog/dbal-242-252beta1.html /2014/01/01/dbal-242-252beta1.rst
redirect 301 /blog/dbal-orm-22rc1.html /2012/01/22/dbal-orm-22rc1.rst
redirect 301 /blog/dbal-security-2011-1.html /2011/08/29/dbal-security-2011-1.rst
redirect 301 /blog/dbal2-beta3-released.html /2010/07/27/dbal2-beta3-released.rst
redirect 301 /blog/dc2-experimental-associations-id-fields.html /2010/08/07/dc2-experimental-associations-id-fields.rst
redirect 301 /blog/doctrine-0-11-1-and-1-0.html /2008/07/12/doctrine-0-11-1-and-1-0.rst
redirect 301 /blog/doctrine-0-9-1-0-10-1-released.html /2008/02/16/doctrine-0-9-1-0-10-1-released.rst
redirect 301 /blog/doctrine-1-0-1-released.html /2008/09/09/doctrine-1-0-1-released.rst
redirect 301 /blog/doctrine-1-0-10-and-1-1-2-released.html /2009/06/15/doctrine-1-0-10-and-1-1-2-released.rst
redirect 301 /blog/doctrine-1-0-11-and-1-1-3-released.html /2009/07/27/doctrine-1-0-11-and-1-1-3-released.rst
redirect 301 /blog/doctrine-1-0-12-and-1-1-4-released.html /2009/09/25/doctrine-1-0-12-and-1-1-4-released.rst
redirect 301 /blog/doctrine-1-0-2-released.html /2008/09/11/doctrine-1-0-2-released.rst
redirect 301 /blog/doctrine-1-0-3-released.html /2008/10/13/doctrine-1-0-3-released.rst
redirect 301 /blog/doctrine-1-0-4-released.html /2008/11/25/doctrine-1-0-4-released.rst
redirect 301 /blog/doctrine-1-0-6-released.html /2009/01/05/doctrine-1-0-6-released.rst
redirect 301 /blog/doctrine-1-0-7-is-available.html /2009/02/03/doctrine-1-0-7-is-available.rst
redirect 301 /blog/doctrine-1-0-8-and-1-1-0-rc2-released.html /2009/03/02/doctrine-1-0-8-and-1-1-0-rc2-released.rst
redirect 301 /blog/doctrine-1-0-9-and-1-1-1-released.html /2009/05/11/doctrine-1-0-9-and-1-1-1-released.rst
redirect 301 /blog/doctrine-1-0-and-symfony-1-2.html /2008/07/02/doctrine-1-0-and-symfony-1-2.rst
redirect 301 /blog/doctrine-1-0-beta1-released.html /2008/08/05/doctrine-1-0-beta1-released.rst
redirect 301 /blog/doctrine-1-0-released.html /2008/09/01/doctrine-1-0-released.rst
redirect 301 /blog/doctrine-1-1-development-begins.html /2008/10/02/doctrine-1-1-development-begins.rst
redirect 301 /blog/doctrine-1-1-documentation.html /2009/03/03/doctrine-1-1-documentation.rst
redirect 301 /blog/doctrine-1-1-is-right-around-the-corner.html /2009/01/12/doctrine-1-1-is-right-around-the-corner.rst
redirect 301 /blog/doctrine-1-1-released.html /2009/03/16/doctrine-1-1-released.rst
redirect 301 /blog/doctrine-1-2-0-alpha-released.html /2009/09/18/doctrine-1-2-0-alpha-released.rst
redirect 301 /blog/doctrine-1-2-0-beta2-released.html /2009/11/10/doctrine-1-2-0-beta2-released.rst
redirect 301 /blog/doctrine-1-2-0-beta3-released.html /2009/11/16/doctrine-1-2-0-beta3-released.rst
redirect 301 /blog/doctrine-1-2-0-rc1-released.html /2009/11/23/doctrine-1-2-0-rc1-released.rst
redirect 301 /blog/doctrine-1-2-0-stable-released.html /2009/11/30/doctrine-1-2-0-stable-released.rst
redirect 301 /blog/doctrine-1-2-1-released.html /2009/12/07/doctrine-1-2-1-released.rst
redirect 301 /blog/doctrine-1-2-2-released.html /2010/03/29/doctrine-1-2-2-released.rst
redirect 301 /blog/doctrine-1-2-alpha3-released.html /2009/10/21/doctrine-1-2-alpha3-released.rst
redirect 301 /blog/doctrine-1-2-documentation-available.html /2009/11/04/doctrine-1-2-documentation-available.rst
redirect 301 /blog/doctrine-1-2-nearing-stable-release.html /2009/10/06/doctrine-1-2-nearing-stable-release.rst
redirect 301 /blog/doctrine-2-0-0-alpha3-released.html /2009/11/11/doctrine-2-0-0-alpha3-released.rst
redirect 301 /blog/doctrine-2-0-0-alpha4-released.html /2010/01/22/doctrine-2-0-0-alpha4-released.rst
redirect 301 /blog/doctrine-2-0-0-beta1-released.html /2010/04/27/doctrine-2-0-0-beta1-released.rst
redirect 301 /blog/doctrine-2-0-6.html /2011/06/17/doctrine-2-0-6.rst
redirect 301 /blog/doctrine-2-0-7-and-eol.html /2011/08/17/doctrine-2-0-7-and-eol.rst
redirect 301 /blog/doctrine-2-0-quality-assurance.html /2009/08/24/doctrine-2-0-quality-assurance.rst
redirect 301 /blog/doctrine-2-1-5.html /2011/12/19/doctrine-2-1-5.rst
redirect 301 /blog/doctrine-2-1-6.html /2012/01/30/doctrine-2-1-6.rst
redirect 301 /blog/doctrine-2-1-7-released.html /2012/05/28/doctrine-2-1-7-released.rst
redirect 301 /blog/doctrine-2-1-beta-release.html /2011/05/16/doctrine-2-1-beta-release.rst
redirect 301 /blog/doctrine-2-1-rc1.html /2011/06/18/doctrine-2-1-rc1.rst
redirect 301 /blog/doctrine-2-1-rc2.html /2011/06/28/doctrine-2-1-rc2.rst
redirect 301 /blog/doctrine-2-1-rc3.html /2011/07/02/doctrine-2-1-rc3.rst
redirect 301 /blog/doctrine-2-1.html /2011/07/04/doctrine-2-1.rst
redirect 301 /blog/doctrine-2-2-1-released.html /2012/03/04/doctrine-2-2-1-released.rst
redirect 301 /blog/doctrine-2-2-2-released.html /2012/04/13/doctrine-2-2-2-released.rst
redirect 301 /blog/doctrine-2-2-final.html /2012/01/29/doctrine-2-2-final.rst
redirect 301 /blog/doctrine-2-3-1.html /2012/12/05/doctrine-2-3-1.rst
redirect 301 /blog/doctrine-2-3-2.html /2013/01/08/doctrine-2-3-2.rst
redirect 301 /blog/doctrine-2-3-3.html /2013/03/24/doctrine-2-3-3.rst
redirect 301 /blog/doctrine-2-3-4.html /2013/05/11/doctrine-2-3-4.rst
redirect 301 /blog/doctrine-2-3-beta.html /2012/07/16/doctrine-2-3-beta.rst
redirect 301 /blog/doctrine-2-3-final.html /2012/09/20/doctrine-2-3-final.rst
redirect 301 /blog/doctrine-2-3-rc2.html /2012/08/29/doctrine-2-3-rc2.rst
redirect 301 /blog/doctrine-2-3-rc3.html /2012/09/05/doctrine-2-3-rc3.rst
redirect 301 /blog/doctrine-2-3-rc4.html /2012/09/17/doctrine-2-3-rc4.rst
redirect 301 /blog/doctrine-2-4-1.html /2013/11/12/doctrine-2-4-1.rst
redirect 301 /blog/doctrine-2-4-beta.html /2013/03/24/doctrine-2-4-beta.rst
redirect 301 /blog/doctrine-2-4-beta2.html /2013/05/11/doctrine-2-4-beta2.rst
redirect 301 /blog/doctrine-2-4-released.html /2013/09/11/doctrine-2-4-released.rst
redirect 301 /blog/doctrine-2-at-confoo-2010.html /2010/03/15/doctrine-2-at-confoo-2010.rst
redirect 301 /blog/doctrine-2-documentation.html /2009/10/07/doctrine-2-documentation.rst
redirect 301 /blog/doctrine-2-give-me-my-constructor-back.html /2010/03/21/doctrine-2-give-me-my-constructor-back.rst
redirect 301 /blog/doctrine-all-grown-up.html /2008/02/14/doctrine-all-grown-up.rst
redirect 301 /blog/doctrine-and-symfony-frameworks-collaborating.html /2008/09/18/doctrine-and-symfony-frameworks-collaborating.rst
redirect 301 /blog/doctrine-at-latino-ware-2008.html /2008/09/23/doctrine-at-latino-ware-2008.rst
redirect 301 /blog/doctrine-at-symfony-camp2008.html /2008/09/05/doctrine-at-symfony-camp2008.rst
redirect 301 /blog/doctrine-changing-homes.html /2009/06/16/doctrine-changing-homes.rst
redirect 301 /blog/doctrine-cheat-sheet.html /2008/03/04/doctrine-cheat-sheet.rst
redirect 301 /blog/doctrine-database-abstraction-layer.html /2009/05/28/doctrine-database-abstraction-layer.rst
redirect 301 /blog/doctrine-fedora-package.html /2009/10/02/doctrine-fedora-package.rst
redirect 301 /blog/doctrine-frequently-asked-questions.html /2008/04/05/doctrine-frequently-asked-questions.rst
redirect 301 /blog/doctrine-future-roadmap.html /2009/06/21/doctrine-future-roadmap.rst
redirect 301 /blog/doctrine-gets-its-first-employee.html /2008/07/20/doctrine-gets-its-first-employee.rst
redirect 301 /blog/doctrine-goes-pecl.html /2008/04/01/doctrine-goes-pecl.rst
redirect 301 /blog/doctrine-growth.html /2008/07/26/doctrine-growth.rst
redirect 301 /blog/doctrine-in-your-language.html /2008/06/21/doctrine-in-your-language.rst
redirect 301 /blog/doctrine-lazy-loading.html /2009/05/29/doctrine-lazy-loading.rst
redirect 301 /blog/doctrine-maintenance-jan2011.html /2011/01/30/doctrine-maintenance-jan2011.rst
redirect 301 /blog/doctrine-maintenance-mar05.html /2011/03/05/doctrine-maintenance-mar05.rst
redirect 301 /blog/doctrine-maintenance-may11.html /2011/05/14/doctrine-maintenance-may11.rst
redirect 301 /blog/doctrine-maintenance-nov2011.html /2011/11/21/doctrine-maintenance-nov2011.rst
redirect 301 /blog/doctrine-maintenance-sep2011.html /2011/09/25/doctrine-maintenance-sep2011.rst
redirect 301 /blog/doctrine-mongodb-object-document-mapper.html /2010/05/13/doctrine-mongodb-object-document-mapper.rst
redirect 301 /blog/doctrine-mongodb-odm-1-0-0alpha1-released.html /2010/06/09/doctrine-mongodb-odm-1-0-0alpha1-released.rst
redirect 301 /blog/doctrine-mongodb-odm-1-0-0alpha2-released.html /2010/07/30/doctrine-mongodb-odm-1-0-0alpha2-released.rst
redirect 301 /blog/doctrine-mongodb-odm-beta2-released.html /2011/02/19/doctrine-mongodb-odm-beta2-released.rst
redirect 301 /blog/doctrine-orientdb-odm.html /2012/12/28/doctrine-orientdb-odm.rst
redirect 301 /blog/doctrine-orm-2-1-4-released.html /2011/11/23/doctrine-orm-2-1-4-released.rst
redirect 301 /blog/doctrine-orm-for-php-available-in-print.html /2009/06/30/doctrine-orm-for-php-available-in-print.rst
redirect 301 /blog/doctrine-orm-sandbox.html /2008/02/18/doctrine-orm-sandbox.rst
redirect 301 /blog/doctrine-orm-version-1-2-3-released.html /2010/08/24/doctrine-orm-version-1-2-3-released.rst
redirect 301 /blog/doctrine-oxm-intro.html /2011/03/06/doctrine-oxm-intro.rst
redirect 301 /blog/doctrine-performance-revisited.html /2010/03/17/doctrine-performance-revisited.rst
redirect 301 /blog/doctrine-security-fix.html /2011/03/20/doctrine-security-fix.rst
redirect 301 /blog/doctrine-statistics.html /2009/06/05/doctrine-statistics.rst
redirect 301 /blog/doctrine-visiting-conferences-around-the-world.html /2009/06/13/doctrine-visiting-conferences-around-the-world.rst
redirect 301 /blog/doctrine2-1-1.html /2011/08/26/doctrine2-1-1.rst
redirect 301 /blog/doctrine2-2-beta.html /2011/12/20/doctrine2-2-beta.rst
redirect 301 /blog/doctrine2-2-beta2.html /2012/01/03/doctrine2-2-beta2.rst
redirect 301 /blog/doctrine2-april-2011-maintenance.html /2011/04/07/doctrine2-april-2011-maintenance.rst
redirect 301 /blog/doctrine2-batch-processing.html /2009/08/07/doctrine2-batch-processing.rst
redirect 301 /blog/doctrine2-behavioral-extensions.html /2010/11/18/doctrine2-behavioral-extensions.rst
redirect 301 /blog/doctrine2-behaviours-nutshell.html /2010/02/17/doctrine2-behaviours-nutshell.rst
redirect 301 /blog/doctrine2-beta2-released.html /2010/06/15/doctrine2-beta2-released.rst
redirect 301 /blog/doctrine2-custom-dql-udfs.html /2010/03/29/doctrine2-custom-dql-udfs.rst
redirect 301 /blog/doctrine2-large-collections.html /2010/07/12/doctrine2-large-collections.rst
redirect 301 /blog/doctrine2-native-queries.html /2009/08/15/doctrine2-native-queries.rst
redirect 301 /blog/doctrine2-orm-beta3.html /2010/08/06/doctrine2-orm-beta3.rst
redirect 301 /blog/doctrine2-orm-rc2-released.html /2010/12/12/doctrine2-orm-rc2-released.rst
redirect 301 /blog/doctrine2-preview-release.html /2009/09/01/doctrine2-preview-release.rst
redirect 301 /blog/doctrine2-rc1.html /2010/12/04/doctrine2-rc1.rst
redirect 301 /blog/doctrine2-released.html /2010/12/21/doctrine2-released.rst
redirect 301 /blog/doctrine2-validations.html /2010/03/13/doctrine2-validations.rst
redirect 301 /blog/doctrine2-versionable.html /2010/02/24/doctrine2-versionable.rst
redirect 301 /blog/document-oriented-databases-vs-relational-databases.html /2010/07/27/document-oriented-databases-vs-relational-databases.rst
redirect 301 /blog/documentation-updates.html /2009/01/15/documentation-updates.rst
redirect 301 /blog/double-dose-of-doctrine.html /2008/12/11/double-dose-of-doctrine.rst
redirect 301 /blog/first-1-1-alpha-version-released.html /2008/12/03/first-1-1-alpha-version-released.rst
redirect 301 /blog/first-symfony-1-1-workshop-in-atlanta-usa.html /2008/10/02/first-symfony-1-1-workshop-in-atlanta-usa.rst
redirect 301 /blog/get-expert-training.html /2008/09/30/get-expert-training.rst
redirect 301 /blog/get-trained-by-doctrine-experts.html /2009/03/12/get-trained-by-doctrine-experts.rst
redirect 301 /blog/getting-started-with-doctrine-and-symfony-1-1.html /2008/06/16/getting-started-with-doctrine-and-symfony-1-1.rst
redirect 301 /blog/glimpse-of-doctrine-2-0.html /2009/05/22/glimpse-of-doctrine-2-0.rst
redirect 301 /blog/help-write-tests-for-new-dql-parser.html /2009/08/04/help-write-tests-for-new-dql-parser.rst
redirect 301 /blog/implementing-aggregate-fields.html /2010/07/07/implementing-aggregate-fields.rst
redirect 301 /blog/introducing-doctrine-orm-for-php.html /2009/01/23/introducing-doctrine-orm-for-php.rst
redirect 301 /blog/introducing-the-doctrine-cookbook.html /2008/06/23/introducing-the-doctrine-cookbook.rst
redirect 301 /blog/introducing-the-doctrine-forum.html /2008/07/01/introducing-the-doctrine-forum.rst
redirect 301 /blog/introducing-the-google-i18n-extension.html /2009/06/28/introducing-the-google-i18n-extension.rst
redirect 301 /blog/introduction-to-doctrine-2-webinar.html /2010/03/01/introduction-to-doctrine-2-webinar.rst
redirect 301 /blog/major-site-enhancements.html /2009/07/04/major-site-enhancements.rst
redirect 301 /blog/master-and-slave-connections.html /2008/08/06/master-and-slave-connections.rst
redirect 301 /blog/mixing-types-of-documents.html /2010/07/20/mixing-types-of-documents.rst
redirect 301 /blog/mongodb-for-ecommerce.html /2010/07/22/mongodb-for-ecommerce.rst
redirect 301 /blog/mongodb-odm-1-0-0beta1-released.html /2010/08/18/mongodb-odm-1-0-0beta1-released.rst
redirect 301 /blog/mongodb-odm-atomic-operator-improvements.html /2010/08/10/mongodb-odm-atomic-operator-improvements.rst
redirect 301 /blog/mongodb-odm-query-builder-api.html /2010/07/21/mongodb-odm-query-builder-api.rst
redirect 301 /blog/more-doctrine-releases.html /2009/12/01/more-doctrine-releases.rst
redirect 301 /blog/moving-quickly.html /2008/08/27/moving-quickly.rst
redirect 301 /blog/moving-to-jira.html /2009/09/14/moving-to-jira.rst
redirect 301 /blog/my-first-project-doctrine-tutorial.html /2008/03/02/my-first-project-doctrine-tutorial.rst
redirect 301 /blog/new-coverage-report.html /2007/10/14/new-coverage-report.rst
redirect 301 /blog/new-doctrine-core-team-member.html /2009/11/23/new-doctrine-core-team-member.rst
redirect 301 /blog/new-doctrine-website.html /2012/03/07/new-doctrine-website.rst
redirect 301 /blog/new-documentation-pdf-downloads.html /2009/01/30/new-documentation-pdf-downloads.rst
redirect 301 /blog/new-hydration-modes-for-doctrine-1-1.html /2008/10/12/new-hydration-modes-for-doctrine-1-1.rst
redirect 301 /blog/new-to-migrations-in-1-1.html /2008/10/18/new-to-migrations-in-1-1.rst
redirect 301 /blog/new-website.html /2007/10/09/new-website.rst
redirect 301 /blog/new_design.html /2007/12/08/new_design.rst
redirect 301 /blog/one-more-0-11-release-candidate.html /2008/06/11/one-more-0-11-release-candidate.rst
redirect 301 /blog/orm-235-234.html /2014/02/08/orm-235-234.rst
redirect 301 /blog/orm-is-not-a-choice.html /2010/04/20/orm-is-not-a-choice.rst
redirect 301 /blog/our-hhvm-roadmap.html /2013/12/23/our-hhvm-roadmap.rst
redirect 301 /blog/php-5-3-and-doctrine-2-0-teaser.html /2009/01/26/php-5-3-and-doctrine-2-0-teaser.rst
redirect 301 /blog/php-benchmarking-mythbusters.html /2009/11/18/php-benchmarking-mythbusters.rst
redirect 301 /blog/php-net-style-api-documentation-lookups.html /2008/06/13/php-net-style-api-documentation-lookups.rst
redirect 301 /blog/phpcr-odm-qbv2.html /2013/09/25/phpcr-odm-qbv2.rst
redirect 301 /blog/plug-and-play-schema-information-with-templates.html /2008/07/21/plug-and-play-schema-information-with-templates.rst
redirect 301 /blog/pre-1-0-updates-and-1-0-0-rc1-released.html /2008/08/25/pre-1-0-updates-and-1-0-0-rc1-released.rst
redirect 301 /blog/project_status.html /2008/01/05/project_status.rst
redirect 301 /blog/release-candidate-2-available.html /2008/08/27/release-candidate-2-available.rst
redirect 301 /blog/road-to-doctrine-1-0.html /2008/05/11/road-to-doctrine-1-0.rst
redirect 301 /blog/roadmap-doctrine2.html /2011/01/13/roadmap-doctrine2.rst
redirect 301 /blog/second-alpha-release-of-doctrine-2.html /2009/10/05/second-alpha-release-of-doctrine-2.rst
redirect 301 /blog/sensio-labs-training-sessions.html /2009/06/15/sensio-labs-training-sessions.rst
redirect 301 /blog/special-price-offer-symfony-1-2-doctrine-training-workshop.html /2009/06/17/special-price-offer-symfony-1-2-doctrine-training-workshop.rst
redirect 301 /blog/symfony-bundles-move.html /2011/12/15/symfony-bundles-move.rst
redirect 301 /blog/symfony-doctrine-schema-manager.html /2008/10/26/symfony-doctrine-schema-manager.rst
redirect 301 /blog/symfony-live-2010.html /2010/02/18/symfony-live-2010.rst
redirect 301 /blog/symfony-live-2012-hackday.html /2012/05/29/symfony-live-2012-hackday.rst
redirect 301 /blog/taking-advantage-of-column-aggregation-inheritance.html /2008/07/24/taking-advantage-of-column-aggregation-inheritance.rst
redirect 301 /blog/thank-you-servergrove.html /2009/06/24/thank-you-servergrove.rst
redirect 301 /blog/the-bleeding-edge-website-upgraded.html /2008/10/19/the-bleeding-edge-website-upgraded.rst
redirect 301 /blog/the-switch-to-git.html /2010/05/13/the-switch-to-git.rst
redirect 301 /blog/transactions-and-performance.html /2009/08/22/transactions-and-performance.rst
redirect 301 /blog/url_changes.html /2007/12/04/url_changes.rst
redirect 301 /blog/using-behaviors-to-share-relationship-properties.html /2009/02/04/using-behaviors-to-share-relationship-properties.rst
redirect 301 /blog/using-doctrine-with-codeigniter.html /2008/01/29/using-doctrine-with-codeigniter.rst
redirect 301 /blog/using-doctrine-zend-framework.html /2008/03/29/using-doctrine-zend-framework.rst
redirect 301 /blog/using-views-with-doctrine.html /2009/06/19/using-views-with-doctrine.rst
redirect 301 /blog/want-to-contribute-to-doctrine.html /2009/05/27/want-to-contribute-to-doctrine.rst
redirect 301 /blog/website-updates.html /2009/06/21/website-updates.rst
redirect 301 /blog/website-upgraded-to-symfony-1-1-and-doctrine-0-11.html /2008/05/03/website-upgraded-to-symfony-1-1-and-doctrine-0-11.rst
redirect 301 /blog/what-s-new-in-doctrine-1-2.html /2009/06/26/what-s-new-in-doctrine-1-2.rst
redirect 301 /blog/what-to-expect-from-doctrine-1.html /2010/03/15/what-to-expect-from-doctrine-1.rst
redirect 301 /blog/who-is-behind-doctrine.html /2008/07/25/who-is-behind-doctrine.rst
redirect 301 /blog/wow-1000-tickets.html /2008/04/30/wow-1000-tickets.rst
redirect 301 /blog/your-own-orm-doctrine2.html /2010/07/19/your-own-orm-doctrine2.rst
ErrorDocument 404 http://www.doctrine-project.org/404.html
ErrorDocument 403 http://www.doctrine-project.org/403.html
