---
- hosts: webservers
  vars:
    document_root: /var/www/doctrine-website-sphinx
  tasks:
    - name: Checkout Website
      git: >
        repo=git@github.com:doctrine/doctrine-website-sphinx.git
        dest={{ document_root }}

    - name: Install Sphinx Dependencies
      apt: >
        pkg={{ item }}
      with_items:
        - python-pip
        - python-yaml

    - name: Install Tinkerer
      pip: name=tinkerer

    - name: Download Composer
      get_url: >
        dest={{ document_root }}/composer.phar
        url=http://getcomposer.org/composer.phar

    - name: Install Composer Dependencies
      command: >
        php composer.phar install
        chdir={{ document_root }}

    - name: Update Composer for Apigen
      command: >
        php ../../../composer.phar install
        chdir={{ document_root }}/vendor/apigen/apigen

    - name: Regenerate projects.yml from Github Data
      command: >
        php bin/build-projects.php
        chdir={{ document_root }}

    - name: Build Website
      command: >
        tinker -b
        chdir={{ document_root }}/site-new

    - name: Create API Directory
      file: >
        path={{ document_root }}/site-new/blog/html/api
        state=directory

    - name: Generate API Documentation
      command: >
        php bin/build-apidocs.php site-new/blog/html/api
        chdir={{ document_root }}

    - name: Copy Favicon
      command: >
        cp favicon.ico site-new/blog/html/favicon.ico
        chdir={{ document_root }}

    - name: Link RSS Feed to .xml file
      file: >
        src={{ document_root }}/site-new/blog/html/rss.html
        dest={{ document_root }}/site-new/blog/html/rss.xml
        state=link

    - name: "Move over old site"
      command: >
        mv -f {{ document_root }}/site-new/* {{ document_root }}/site/
        chdir={{ document_root }}
