#!/bin/bash

JIRADIR="/home/jira/jira-{{ jira_version }}"
PIDFILE="$JIRADIR/work/catalina.pid"

is_running() {
    [ -f "$PIDFILE" ] && ps `get_pid` > /dev/null 2>&1
}

case "$1" in
    start)
        $JIRADIR/bin/start-jira.sh
        ;;
    stop)
        $JIRADIR/bin/stop-jira.sh
        ;;
    restart)
        $JIRADIR/bin/stop-jira.sh -fg
        $JIRADIR/bin/start-jira.sh
        ;;
    status)
        if is_running; then
            echo "Running"
        else
            echo "Stopped"
            exit 1
        fi
        ;;
    *)
        echo "Usage: $0 {start|stop|status}"
        exit 1
        ;;
esac
