rmiPort$Long=8005
app.jiraHome=/home/jira/.jirahome
app.install.service$Boolean=true
existingInstallationDir=/home/jira/jira-{{ jira_version }}
sys.confirmedUpdateInstallationString=false
sys.languageId=en
sys.installationDir=/home/jira/jira-{{ jira_version }}
executeLauncherAction$Boolean=true
httpPort$Long=8080
portChoice=default
